<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-page</title>
</head>
<style>
    body{
        background: #2E2B5F;
        background: linear-gradient(180deg, rgba(46, 43, 95, 1) 0%, rgba(93, 78, 132, 1) 20%, rgba(110, 90, 146, 1) 39%, rgba(115, 92, 151, 1) 100%, rgba(214, 142, 255, 1) 100%);
        background-size: cover;
        background-attachment: fixed;
       
    }
    .app{
        display: flex;
    }
</style>
<body>
    
</body>
</html>